<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DTXUserOptIn</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>15.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>wifi.lidlplus.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>GOOGLE_ANALYTICS_DEFAULT_ALLOW_AD_PERSONALIZATION_SIGNALS</key>
	<false/>
	<key>NSFaceIDUsageDescription</key>
	<string>Permitir uso de Face ID para realizar pagos con la tarjeta de crédito</string>
	<key>DTXcodeBuild</key>
	<string>16A242d</string>
	<key>UISupportedDevices</key>
	<array>
		<string>iPhone10,2</string>
		<string>iPhone10,3</string>
		<string>iPhone10,5</string>
		<string>iPhone10,6</string>
		<string>iPhone11,2</string>
		<string>iPhone11,4</string>
		<string>iPhone11,6</string>
		<string>iPhone12,3</string>
		<string>iPhone12,5</string>
		<string>iPhone13,1</string>
		<string>iPhone13,2</string>
		<string>iPhone13,3</string>
		<string>iPhone13,4</string>
		<string>iPhone14,2</string>
		<string>iPhone14,3</string>
		<string>iPhone14,4</string>
		<string>iPhone14,5</string>
		<string>iPhone14,7</string>
		<string>iPhone14,8</string>
		<string>iPhone15,2</string>
		<string>iPhone15,3</string>
		<string>iPhone15,4</string>
		<string>iPhone15,5</string>
		<string>iPhone16,1</string>
		<string>iPhone16,2</string>
		<string>iPhone9,2</string>
		<string>iPhone9,4</string>
	</array>
	<key>DTAppStoreToolsBuild</key>
	<string>16C5031b</string>
	<key>CFBundleName</key>
	<string>Lidl Plus</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Lidl Plus</string>
	<key>GOOGLE_ANALYTICS_DEFAULT_ALLOW_AD_USER_DATA</key>
	<false/>
	<key>ITSDRMScheme</key>
	<string>v2</string>
	<key>DTPlatformBuild</key>
	<string>22A3362</string>
	<key>NSPrivacyTrackingDomains</key>
	<array>
		<string>https://consent.adjust.cn</string>
		<string>https://consent.adjust.com</string>
		<string>https://consent.adjust.io</string>
		<string>https://consent.adjust.net.in</string>
		<string>https://consent.adjust.world</string>
		<string>https://consent.eu.adjust.com</string>
		<string>https://consent.tr.adjust.com</string>
		<string>https://consent.us.adjust.com</string>
	</array>
	<key>DTXcode</key>
	<string>1600</string>
	<key>CFBundleVersion</key>
	<string>1155</string>
	<key>DTSDKName</key>
	<string>iphoneos18.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>GOOGLE_ANALYTICS_DEFAULT_ALLOW_ANALYTICS_STORAGE</key>
	<false/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
			</array>
		</dict>
	</dict>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Permitir servicios de localización para localizar las tiendas más cercanas</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Permitir servicios de localización para localizar las tiendas más cercanas</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>twitterkit-DOWiL2i770hvQ8LSB1cRp0EdL</string>
				<string>fb732728320240944</string>
				<string>lidlQA</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>prefs</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.lidlplus.app</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>SSO callback - com.lidlplus.app</string>
		</dict>
	</array>
	<key>NSUserTrackingUsageDescription</key>
	<string>Lidl Plus provides you with personalized offers and content within the App</string>
	<key>CFBundleIdentifier</key>
	<string>com.lidl.eci.lidl.plus</string>
	<key>GOOGLE_ANALYTICS_DEFAULT_ALLOW_AD_STORAGE</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Permitir acceso a la librería de fotos para generar los códigos de barras</string>
	<key>CFBundleExecutable</key>
	<string>LidlSocialInternacional</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Permitir acceso a la librería de fotos para guardar resguardos</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>BuildMachineOSBuild</key>
	<string>24B2083</string>
	<key>DTXApplicationID</key>
	<string>1b243c57-1e8f-4033-aeb1-3ddc6a7d5e0e</string>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
			</array>
		</dict>
	</dict>
	<key>DTXBeaconURL</key>
	<string>https://cluster-active-gate-lb.dynatrace.stackit.zone:9999 /mbeacon/c469bdbf-d949-4e2c-9a01-42f2c400b5fc</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>waze</string>
		<string>comgooglemaps</string>
		<string>fbauth2</string>
		<string>lidl-app</string>
	</array>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>La app necesita tu permiso para escanear productos Lidl y servicios</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>NSLocationTemporaryUsageDescriptionDictionary</key>
	<dict>
		<key>OneTimeLocation</key>
		<string>Permitir servicios de localización para localizar las tiendas más cercanas</string>
	</dict>
	<key>DTSDKBuild</key>
	<string>22A3362</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>DTPlatformVersion</key>
	<string>18.0</string>
	<key>CFBundleShortVersionString</key>
	<string>16.19.16</string>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>DTXStartupLoadBalancing</key>
	<true/>
</dict>
</plist>