<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>userMetrics</key>
	<string>https://usermetrics.lidlplus.com/api</string>
	<key>lidlTravel</key>
	<string>https://travel.lidlplus.com/api</string>
	<key>uniqueAccount</key>
	<string>https://profile.lidl.com</string>
	<key>localization</key>
	<string>https://localization.lidlplus.com/resources</string>
	<key>appVersions</key>
	<string>https://appgateway.lidlplus.com/versions</string>
	<key>brochures</key>
	<string>https://brochures.lidlplus.com/api</string>
	<key>brochuresCombined</key>
	<string>https://brochures.lidlplus.com/api</string>
	<key>couponPlus</key>
	<string>https://couponplus.lidlplus.com/api</string>
	<key>recipes</key>
	<string>https://recipes.lidlplus.com/api</string>
	<key>payments</key>
	<string>https://payments.lidlplus.com</string>
	<key>sso</key>
	<string>https://accounts.lidl.com</string>
	<key>stores</key>
	<string>https://stores.lidlplus.com</string>
	<key>gateway</key>
	<string>https://appgateway.lidlplus.com</string>
	<key>openGift</key>
	<string>https://opengift.lidlplus.com/api</string>
	<key>ssoUser</key>
	<string>https://accounts.lidl.com</string>
	<key>digitalLeaflet</key>
	<string>https://leaflet-api-01-web-stg-we-001.azurewebsites.net</string>
	<key>eticket</key>
	<string>https://eticket.lidlplus.com</string>
	<key>purchaseLottery</key>
	<string>https://purchaselottery.lidlplus.com/api</string>
	<key>stampCard</key>
	<string>https://stampcard.lidlplus.com/api</string>
	<key>familyClub</key>
	<string>https://familyclub.lidl.com/children</string>
	<key>stampCardRewards</key>
	<string>https://giveaway.lidlplus.com/api</string>
	<key>collectingModel</key>
	<string>https://mypoints.lidl.com/</string>
	<key>marketingPreferences</key>
	<string>https://profile.lidl.com/marketing-preferences</string>
	<key>myLidlAccount</key>
	<string>https://mylidlaccount.lidl.com</string>
	<key>campaign</key>
	<string>https://digital-leaflet.lidlplus.com/api</string>
</dict>
</plist>
