<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>userMetrics</key>
	<string>https://usermetrics-stg.k8s.scrm.eu/api</string>
	<key>lidlTravel</key>
	<string>https://travel-stg.k8s.scrm.eu/api</string>
	<key>uniqueAccount</key>
	<string>https://profile-stg.lidl.com</string>
	<key>digitalLeaflet</key>
	<string>https://leaflet-api-01-web-stg-we-001.azurewebsites.net</string>
	<key>localization</key>
	<string>https://localization-stg.lidlplus.com/resources</string>
	<key>appVersions</key>
	<string>https://versions-api-web-stg-we-003.azurewebsites.net</string>
	<key>brochures</key>
	<string>https://brochures-stg.k8s.scrm.eu/api</string>
	<key>brochuresCombined</key>
	<string>https://brochures-stg.k8s.scrm.eu/api</string>
	<key>couponPlus</key>
	<string>https://couponplus-stg.k8s.scrm.eu/api</string>
	<key>recipes</key>
	<string>https://recipes-api-01-web-stg-we-002.azurewebsites.net</string>
	<key>payments</key>
	<string>https://payments-staging.lidlplus.com</string>
	<key>sso</key>
	<string>https://accounts-stg.lidl.com</string>
	<key>stores</key>
	<string>https://stores-api-web-stg-we-002.azurewebsites.net</string>
	<key>gateway</key>
	<string>https://lidl-gateway-api-001-web-stg-we-001.azurewebsites.net</string>
	<key>openGift</key>
	<string>https://opengift-stg.k8s.scrm.eu/api</string>
	<key>ssoUser</key>
	<string>https://accounts-stg.lidl.com</string>
	<key>eticket</key>
	<string>https://eticket-api-01-web-stg-we-001.azurewebsites.net</string>
	<key>purchaseLottery</key>
	<string>https://purchaselottery-stg.k8s.scrm.eu/api</string>
	<key>stampCard</key>
	<string>https://stampcard-stg.k8s.scrm.eu/api</string>
	<key>familyClub</key>
	<string>https://familyclub-stg.lidl.com/children</string>
	<key>stampCardRewards</key>
	<string>https://giveaway-stg.k8s.scrm.eu/api</string>
	<key>collectingModel</key>
	<string>https://mypoints-stg.lidl.com</string>
	<key>marketingPreferences</key>
	<string>https://profile-stg.lidl.com/marketing-preferences</string>
	<key>myLidlAccount</key>
	<string>https://mylidlaccount-stg.lidl.com</string>
	<key>campaign</key>
	<string>https://digital-leaflet-stg.k8s.scrm.eu/api</string>
</dict>
</plist>
